/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 *= require_tree .
 *= require _bootstrap
 *= require font-awesome
 *= require slick
 *= require slick-theme
 *= require_self

 */

html {
    margin: 0;
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('Elegant_Background-13.jpg');
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    color: #fff;
}
.box {
    width: 90%;
    margin: 0 auto;
    min-height: 700px;
    padding-top: 20px;
}
nav.navbar-default {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0;
    border: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-nav {
    min-height: 50px;
}
.navbar-default .navbar-header .navbar-brand a {
    color: #55AE55;
}
.navbar-default .navbar-header .navbar-brand a:visited {
    color: #55AE55;
}
.navbar-brand a:hover {
    text-decoration: none;
    background: inherit;
}
.logged .gravatar{
    height: 50px;
}
.footer {
    padding-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #2d2b55;
}
footer .text-muted {
    color: #a9b;
}
ul {
    list-style: none;
}
li .fa {
    width: 10px;
    margin-right: 10px;
    text-align: center;
}