// Place all the styles related to the rate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#select-categories {
  margin-bottom: 20px;
  margin-left: 50px;
}
.form-group {
  width: 200px;
}
#show-info, #show-rate {
  margin-bottom: 20px;
  padding-top: 55px;
}
#images-slide {
  width:50%;
  margin:0;
}
#images-info, #rate-info {
  width:25%;
  margin:0;
}
#carousel {
  display: none;
  width: 500px;
  min-height:400px;
  margin: 0 auto;
}
#show-info, #show-rate, #rate-info, #images-attr {
  display: none;
}
.carousel-inner {
  padding-left: 75px;
  padding-right: 75px;
}
.item {
  margin: 0 auto;
  text-align: center;
}
.arrow-container {
  position: relative;
}
.arrow {
  position: absolute;
  top: 150px;
  left: 0;
}
.rate-label {
  margin-right: 5px;
}
.rate-label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.rate-label > input + .star { /* IMAGE STYLES */
  color: #fc0;
  font-size: 3em;
  cursor: pointer;
  border: 2px solid transparent;
}
.rate-label > input.checked + .star { /* (RADIO CHECKED) IMAGE STYLES */
  color: #ff0;
}
.slick-list {
  width: 400px;
  margin: 0 auto!important;
}
.slick-slider{
  text-align: center;
  width: 500px;
}
.slick-slide {
  margin: 0 auto;
}